.code-color {
  color: green; /* Change color as desired */
}

.bold-button {
  font-weight: bold;
}

.validity {
  color: #999; /* Adjust color as needed */
  font-size: 14px; /* Adjust font size as needed */
}

.expired {
  color: red; /* Change color to red for expired offers */
}
